<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="empService" class="com.jhengtom.springboot.service.EmpService">
<!--這邊是拿來配置EmpService的，當然也可以直接去EmpService 用@service注入容器中   -->
	</bean>

</beans>

